
<table width="85%" cellpadding=0 cellspacing=0>
<tr class=footer>
<td >&nbsp;</td>
<td >Elizabeth M McGurty</td>
<td >&#169;copyright 2011</td>
<td >All rights reserved</td>
<td >Last updated: &nbsp;<%= "July 08, 2011" %></td>
</tr>
</table>
