<form>
<table width="60%">

<tr>
<td width="5%">&nbsp;</td>
<td width="50%" class=PetitionTitle align=center>Below is a map of Coles Hill, Chatham, Virginia and its proposed mining site</td>
<td width="5%">&nbsp;</td>
</tr> 

<tr>
<td width="5%">&nbsp;</td>
<td width="50%" ></td>
<td width="5%">&nbsp;</td>
</tr> 

<tr>
<td width="5%">&nbsp;</td>
<td width="50%" rowspan=5><%= image_tag("/images/map.jpg", :alt=>"From: http://www.southernstudies.org/2008/12/uranium-mining-in-virginia.html")
  %></td>
<td width="5%">&nbsp;</td>
</tr> 
<tr>
<td width="5%">&nbsp;</td>
<td width="5%">&nbsp;</td>
</tr> 

<tr>
<td width="5%">&nbsp;</td>
<td width="5%">&nbsp;</td>
</tr> 

<tr>
<td width="5%">&nbsp;</td>
<td width="5%">&nbsp;</td>
</tr> 
<tr>
<td width="5%">&nbsp;</td>
<td width="5%">&nbsp;</td>
</tr> 

<tr>
<td width="5%">&nbsp;</td>
<td width="50%"><%= link_to "Go Back", :controller=>'Signatures', :action=>'show' %></td>
<td width="5%">&nbsp;</td>
</tr> 
</table>

</form>




