
<form>

<table class=ListComments width="85%">
<tr>
<td width="2%">&nbsp;</td>
<td width="65%">
<ul> 
	  <li>My name is Elizabeth M McGurty; I designed and developed this site with Ruby on Rails (version 3.0.3) with a mySQL backend.</li> 
	  <li>Since 2002, I have lived in Halifax County, Virginia, although my roots are in NYC and Boston, MA.</li> 
	  <li>In 1981, I wrote my first Fortran program.  Since then I have been involved in IT, aspects progressing from Lotus 1,2,3 macros to management over life/death applications.</li> 
	  <li>Everyday I invest time to learn more about ROR.  Yesterday I implemented Jacob Seidelin's MojoMagnify javascript, below.</li> 
        <li>Today, time permitting, I will write a few sample model, controller and integration test scripts</li>
        <li>Line Five</li>
	</ul> 
 </td>
<td width="18%">&nbsp;</td>
<tr>
</table>
<div style="margin-left:35px;margin-top:20px">
<img src="/images/flower.jpg" data-magnifysrc="/images/flower_big.jpg" id="myimage" />  
</div>


</form>

